*.tar.gz
.devcontainer
.vscode
*.exe
src/tapyrus
src/tapyrusd
src/tapyrus-cli
src/tapyrus-tx
src/tapyrus-genesis
src/test/test_tapyrus
src/test/test_tapyrus_fuzzy
src/qt/test/test_tapyrus_qt

src/univalue/gen

src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h

src/qt/test/moc*.cpp

.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg

*.json.h
*.raw.h

# Only ignore unexpected patches
*.patch
!depends/patches/**/*.patch


# Compilation and Qt preprocessor part
*.qm
Makefile
tapyrus-qt
Tapyrus-Qt.app
background.tiff*

# Unit-tests
tapyrus-qt_test

# Resources cpp
qrc_*.cpp

# Mac specific
.DS_Store
build

#lcov
*.gcno
*.gcda
/*.info
test_tapyrus.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
test/config.ini
test/cache/*

/doc/doxygen/
contrib/devtools/split-debug.sh

# snap directories
/parts
/stage
/prime
*.snap

# for test
tapyrus.conf
